/*------------------------------------------------------------*\
 	#BOX-SIZING
\*------------------------------------------------------------*/

/** 
 * Set box-sizing to border-box globally
 * Using the inherit approach allows us to easily override it for a specific component when necessary 
 */

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

/** 
 * Set margins globally
 * Experimenting with this - remove if not practical across sites
 * http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
 
// Use a Sass variable for consistency and test spacing modifiers
// May need to reset normalize margins
* + * {
	margin-top: 1em;
}