// --------------------------------------------------
// Sass variables
// --------------------------------------------------

// Typography
$base-font-size: 16px;
$base-line-height: 24px;

// Colors
$base-text-color: #333;
$base-background-color: #fff;

// Breakpoints
$bp-small	: "25em"; 
$bp-medium	: "48em";
$bp-large 	: "60em";
$bp-xlarge	: "75em";

