<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Base layout</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="stylesheet" href="css/styles.css"/>

		<!-- include a simple shiv for HTML5 elements if decide to use (header, footer, main only) -->
	</head>
	<body>
		<div class="site-header" role="banner">
			<p>Site Header</p>
		</div>
		<div class="site-main" role="main">
			<p>Site Main</p>
		</div>
		<div class="site-footer" role="contentinfo">
			<p>Site Footer</p>
		</div>
	</body>
</html>